node_modules
.env
dist
.vscode
.DS_Store
npm-debug.log
yarn-error.log
coverage
logs
*.log
pids
*.pid
*.seed
*.pid.lock
lib-cov
*.tsbuildinfo
*.sqlite
.idea
*.iml
.cache
.next
out
.build
.nuxt
.svelte-kit
.env.local
.env.*.local
firebase-debug.log*
firebase-errors.log*
.vercel
.now
.serverless
.webpack
.terraform
.crc
.cache/
.parcel-cache
.jspm-cache/
.eslintcache        
.stylelintcache

# Mac system files
.DS_Store
.AppleDouble
.LSOverride